ul { 
    margin: 1em 0;
    li {
        font-weight: bold;
        margin-bottom: .5em;
        font-size: .8em;

        span {
            font-weight: normal;
            display: inline-block;
        }
    }
}

.scrollable {
    max-height: 100px;
    overflow-x: auto;
}