.mat-mdc-row {
    &.active {
        background-color: var(--mat-ref-secondary-secondary90);    
        opacity: 1;                   
    }    
    &:hover:not(.active) {
        background-color: RGBA(var(--mat-ref-primary80-rgb),.15);    
        opacity: 1;      
        cursor: pointer;             
    }    
}

a {
    cursor: pointer;
}