<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="bg">
        <div class="content">
            <div>
                <h1 class="bebas-neue-regular">TFI-ONE</h1>
                <em>Devoted to the strength of family</em>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput>
                </mat-form-field>  
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>  
                <button mat-raised-button color="accent" type="submit"><mat-icon>favorite</mat-icon> Login</button>
            </div>
        </div>
    </div>
</div>