<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="content">
        <div>
            <h1 class="bebas-neue-regular">TFI-ONE</h1>
            <em>Devoted to the strength of family</em>
            <h3>Forgot password?</h3>
            <p>Enter a valid email associated with your account and we will send you instructions to reset your password.</p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. my@example.com">
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                <mat-error>Email is required</mat-error>
                }
            </mat-form-field>              
            <button mat-raised-button color="accent" type="submit" routerLink="/login/reset-password"><mat-icon>email</mat-icon> Send Link</button>
        </div>
    </div>
    <div class="bg d-none d-sm-block"></div>
</div>