.bg {
    background-image: url('../../../assets/img/forgotpw.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.content {
    background-color: #FFF;
    height: 600px;
    position: relative;        
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-basis: content;

    div {
        padding: 2em;

        h1, h3 { 
            margin-top: 0;
            margin-bottom: 0.2em;
            color: var(--mat-ref-primary-primary40);
        }
        h3 { font-weight: normal;}
        p {
            margin-top: 0.75em;
            margin-bottom: 2em;
            color: var(--mat-ref-primary-primary40);
        }
        em { 
            font-family: "Courgette", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 1.4rem;
            margin-bottom: 1.4em; 
            display: block;
            color: var(--mat-ref-primary-primary50);
        }
        .mat-icon {
            color: #DB5343;
        }
        a {
            &:link, 
            &:visited,
            &:hover,
            &:active {
                text-decoration: none;
                color: var(--mat-sys-light-on-primary);
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
.content {
        div {
            padding: 8em;
        }
    }
}
.mat-mdc-raised-button:not(:disabled) {
    width: 100%;
    border-radius: 30px;
    padding: 1.6em;
    font-size: 1rem;
    margin-bottom: 1em;
}

.vh-100 {
    height: 100vh;
}