<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="content">
        <div>
            <h1 class="bebas-neue-regular">TFI-ONE</h1>
            <em>Devoted to the strength of family</em>
            <h3>Create new password</h3>
            <p>Password must have minimum of 8 characters and include one symbol, one uppercase, and one lowercase character.</p>
            <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input matInput type="password">
            </mat-form-field>              
            <mat-form-field appearance="outline">
                <mat-label>Re-enter new password</mat-label>
                <input matInput type="password">
            </mat-form-field>              
            <button mat-raised-button color="accent" type="submit" routerLink="/login"><mat-icon>lock</mat-icon> Save Password</button>
        </div>
    </div>
    <div class="bg d-none d-sm-block"></div>
</div>