:root {
  --color-base-gray-light: #cccccc;
  --color-base-gray-medium: #999999;
  --color-base-gray-dark: #111111;
  --color-base-red: #ff0000;
  --color-base-green: #00ff00;
  --color-font-base: #ff0000;
  --color-font-secondary: #00ff00;
  --color-font-tertiary: #cccccc;
  --size-font-small: 0.75rem;
  --size-font-medium: 1rem;
  --size-font-large: 2rem;
  --size-font-base: 1rem;
  --mat-white: #ffffff;
  --mat-black: #000000;
  --mat-sys-light-primary: #266489;
  --mat-sys-light-on-primary: #ffffff;
  --mat-sys-light-primary-container: #c9e6ff;
  --mat-sys-light-on-primary-container: #001e2f;
  --mat-sys-light-primary-fixed: #c9e6ff;
  --mat-sys-light-on-primary-fixed: #001e2f;
  --mat-sys-light-primary-fixed-dim: #95cdf7;
  --mat-sys-light-on-primary-fixed-variant: #004b6f;
  --mat-sys-light-secondary: #715c0c;
  --mat-sys-light-on-secondary: #ffffff;
  --mat-sys-light-secondary-container: #fee086;
  --mat-sys-light-on-secondary-container: #231b00;
  --mat-sys-light-secondary-fixed: #fee086;
  --mat-sys-light-on-secondary-fixed: #231b00;
  --mat-sys-light-secondary-fixed-dim: #e0c46d;
  --mat-sys-light-on-secondary-fixed-variant: #564500;
  --mat-sys-light-tertiary: #00696f;
  --mat-sys-light-on-tertiary: #ffffff;
  --mat-sys-light-tertiary-container: #9cf0f7;
  --mat-sys-light-on-tertiary-container: #002022;
  --mat-sys-light-tertiary-fixed: #9cf0f7;
  --mat-sys-light-on-tertiary-fixed: #002022;
  --mat-sys-light-tertiary-fixed-dim: #80d4da;
  --mat-sys-light-on-tertiary-fixed-variant: #004f54;
  --mat-sys-light-error: #8f4a4b;
  --mat-sys-light-on-error: #ffffff;
  --mat-sys-light-error-container: #ffdad9;
  --mat-sys-light-on-error-container: #3b080d;
  --mat-sys-light-outline: #72787e;
  --mat-sys-light-background: #f7f9ff;
  --mat-sys-light-on-background: #181c20;
  --mat-sys-light-surface: #f7f9ff;
  --mat-sys-light-on-surface: #181c20;
  --mat-sys-light-surface-variant: #dde3ea;
  --mat-sys-light-on-surface-variant: #41474d;
  --mat-sys-light-inverse-surface: #2d3135;
  --mat-sys-light-inverse-on-surface: #eef1f6;
  --mat-sys-light-inverse-primary: #95cdf7;
  --mat-sys-light-shadow: #000000;
  --mat-sys-light-surface-tint: #266489;
  --mat-sys-light-outline-variant: #c1c7ce;
  --mat-sys-light-scrim: #000000;
  --mat-sys-light-surface-container-highest: #e0e3e8;
  --mat-sys-light-surface-container-high: #e5e8ed;
  --mat-sys-light-surface-container: #ebeef3;
  --mat-sys-light-surface-container-low: #f1f4f9;
  --mat-sys-light-surface-container-lowest: #ffffff;
  --mat-sys-light-surface-bright: #f7f9ff;
  --mat-sys-light-surface-dim: #d7dadf;
  --mat-sys-light-high-contrast-primary: #002539;
  --mat-sys-light-high-contrast-surface-tint: #266489;
  --mat-sys-light-high-contrast-on-primary: #ffffff;
  --mat-sys-light-high-contrast-primary-container: #004769;
  --mat-sys-light-high-contrast-on-primary-container: #ffffff;
  --mat-sys-light-high-contrast-secondary: #2b2100;
  --mat-sys-light-high-contrast-on-secondary: #ffffff;
  --mat-sys-light-high-contrast-secondary-container: #524100;
  --mat-sys-light-high-contrast-on-secondary-container: #ffffff;
  --mat-sys-light-high-contrast-tertiary: #00272a;
  --mat-sys-light-high-contrast-on-tertiary: #ffffff;
  --mat-sys-light-high-contrast-tertiary-container: #004b4f;
  --mat-sys-light-high-contrast-on-tertiary-container: #ffffff;
  --mat-sys-light-high-contrast-error: #440f13;
  --mat-sys-light-high-contrast-on-error: #ffffff;
  --mat-sys-light-high-contrast-error-container: #6e2f31;
  --mat-sys-light-high-contrast-on-error-container: #ffffff;
  --mat-sys-light-high-contrast-background: #f7f9ff;
  --mat-sys-light-high-contrast-on-background: #181c20;
  --mat-sys-light-high-contrast-surface: #f7f9ff;
  --mat-sys-light-high-contrast-on-surface: #000000;
  --mat-sys-light-high-contrast-surface-variant: #dde3ea;
  --mat-sys-light-high-contrast-on-surface-variant: #1e252a;
  --mat-sys-light-high-contrast-outline: #3d4449;
  --mat-sys-light-high-contrast-outline-variant: #3d4449;
  --mat-sys-light-high-contrast-shadow: #000000;
  --mat-sys-light-high-contrast-scrim: #000000;
  --mat-sys-light-high-contrast-inverse-surface: #2d3135;
  --mat-sys-light-high-contrast-inverse-on-surface: #ffffff;
  --mat-sys-light-high-contrast-inverse-primary: #dceeff;
  --mat-sys-light-high-contrast-primary-fixed: #004769;
  --mat-sys-light-high-contrast-on-primary-fixed: #ffffff;
  --mat-sys-light-high-contrast-primary-fixed-dim: #003048;
  --mat-sys-light-high-contrast-on-primary-fixed-variant: #ffffff;
  --mat-sys-light-high-contrast-secondary-fixed: #524100;
  --mat-sys-light-high-contrast-on-secondary-fixed: #ffffff;
  --mat-sys-light-high-contrast-secondary-fixed-dim: #372b00;
  --mat-sys-light-high-contrast-on-secondary-fixed-variant: #ffffff;
  --mat-sys-light-high-contrast-tertiary-fixed: #004b4f;
  --mat-sys-light-high-contrast-on-tertiary-fixed: #ffffff;
  --mat-sys-light-high-contrast-tertiary-fixed-dim: #003236;
  --mat-sys-light-high-contrast-on-tertiary-fixed-variant: #ffffff;
  --mat-sys-light-high-contrast-surface-dim: #d7dadf;
  --mat-sys-light-high-contrast-surface-bright: #f7f9ff;
  --mat-sys-light-high-contrast-surface-container-lowest: #ffffff;
  --mat-sys-light-high-contrast-surface-container-low: #f1f4f9;
  --mat-sys-light-high-contrast-surface-container: #ebeef3;
  --mat-sys-light-high-contrast-surface-container-high: #e5e8ed;
  --mat-sys-light-high-contrast-surface-container-highest: #e0e3e8;
  --mat-sys-light-medium-contrast-primary: #004769;
  --mat-sys-light-medium-contrast-surface-tint: #266489;
  --mat-sys-light-medium-contrast-on-primary: #ffffff;
  --mat-sys-light-medium-contrast-primary-container: #407aa1;
  --mat-sys-light-medium-contrast-on-primary-container: #ffffff;
  --mat-sys-light-medium-contrast-secondary: #524100;
  --mat-sys-light-medium-contrast-on-secondary: #ffffff;
  --mat-sys-light-medium-contrast-secondary-container: #897224;
  --mat-sys-light-medium-contrast-on-secondary-container: #ffffff;
  --mat-sys-light-medium-contrast-tertiary: #004b4f;
  --mat-sys-light-medium-contrast-on-tertiary: #ffffff;
  --mat-sys-light-medium-contrast-tertiary-container: #238087;
  --mat-sys-light-medium-contrast-on-tertiary-container: #ffffff;
  --mat-sys-light-medium-contrast-error: #6e2f31;
  --mat-sys-light-medium-contrast-on-error: #ffffff;
  --mat-sys-light-medium-contrast-error-container: #aa5f60;
  --mat-sys-light-medium-contrast-on-error-container: #ffffff;
  --mat-sys-light-medium-contrast-background: #f7f9ff;
  --mat-sys-light-medium-contrast-on-background: #181c20;
  --mat-sys-light-medium-contrast-surface: #f7f9ff;
  --mat-sys-light-medium-contrast-on-surface: #181c20;
  --mat-sys-light-medium-contrast-surface-variant: #dde3ea;
  --mat-sys-light-medium-contrast-on-surface-variant: #3d4449;
  --mat-sys-light-medium-contrast-outline: #5a6066;
  --mat-sys-light-medium-contrast-outline-variant: #757b82;
  --mat-sys-light-medium-contrast-shadow: #000000;
  --mat-sys-light-medium-contrast-scrim: #000000;
  --mat-sys-light-medium-contrast-inverse-surface: #2d3135;
  --mat-sys-light-medium-contrast-inverse-on-surface: #eef1f6;
  --mat-sys-light-medium-contrast-inverse-primary: #95cdf7;
  --mat-sys-light-medium-contrast-primary-fixed: #407aa1;
  --mat-sys-light-medium-contrast-on-primary-fixed: #ffffff;
  --mat-sys-light-medium-contrast-primary-fixed-dim: #236187;
  --mat-sys-light-medium-contrast-on-primary-fixed-variant: #ffffff;
  --mat-sys-light-medium-contrast-secondary-fixed: #897224;
  --mat-sys-light-medium-contrast-on-secondary-fixed: #ffffff;
  --mat-sys-light-medium-contrast-secondary-fixed-dim: #6f5a09;
  --mat-sys-light-medium-contrast-on-secondary-fixed-variant: #ffffff;
  --mat-sys-light-medium-contrast-tertiary-fixed: #238087;
  --mat-sys-light-medium-contrast-on-tertiary-fixed: #ffffff;
  --mat-sys-light-medium-contrast-tertiary-fixed-dim: #00666c;
  --mat-sys-light-medium-contrast-on-tertiary-fixed-variant: #ffffff;
  --mat-sys-light-medium-contrast-surface-dim: #d7dadf;
  --mat-sys-light-medium-contrast-surface-bright: #f7f9ff;
  --mat-sys-light-medium-contrast-surface-container-lowest: #ffffff;
  --mat-sys-light-medium-contrast-surface-container-low: #f1f4f9;
  --mat-sys-light-medium-contrast-surface-container: #ebeef3;
  --mat-sys-light-medium-contrast-surface-container-high: #e5e8ed;
  --mat-sys-light-medium-contrast-surface-container-highest: #e0e3e8;
  --mat-ref-primary-primary0: #000000;
  --mat-ref-primary-primary10: #001e2f;
  --mat-ref-primary-primary20: #0c344a;
  --mat-ref-primary-primary30: #274a62;
  --mat-ref-primary-primary40: #40627b;
  --mat-ref-primary-primary50: #597b95;
  --mat-ref-primary-primary60: #7395b0;
  --mat-ref-primary-primary70: #8dafcb;
  --mat-ref-primary-primary80: #a8cbe7;
  --mat-ref-primary-primary90: #c9e6ff;
  --mat-ref-primary-primary95: #e6f2ff;
  --mat-ref-primary-primary99: #fcfcff;
  --mat-ref-primary-primary100: #ffffff;
  --mat-ref-primary-primary98: #f6faff;
  --mat-ref-primary-primary35: #34566e;
  --mat-ref-primary-primary25: #1a3f56;
  --mat-ref-primary-primary15: #00293e;
  --mat-ref-primary-primary5: #00131f;
  --mat-ref-secondary-secondary0: #000000;
  --mat-ref-secondary-secondary10: #231b00;
  --mat-ref-secondary-secondary20: #3c2f00;
  --mat-ref-secondary-secondary30: #564500;
  --mat-ref-secondary-secondary40: #725c00;
  --mat-ref-secondary-secondary50: #8e7412;
  --mat-ref-secondary-secondary60: #aa8e2d;
  --mat-ref-secondary-secondary70: #c6a945;
  --mat-ref-secondary-secondary80: #e4c45d;
  --mat-ref-secondary-secondary90: #ffe081;
  --mat-ref-secondary-secondary95: #fff0c9;
  --mat-ref-secondary-secondary99: #fffbff;
  --mat-ref-secondary-secondary100: #ffffff;
  --mat-ref-secondary-secondary98: #fff8f0;
  --mat-ref-secondary-secondary35: #645000;
  --mat-ref-secondary-secondary25: #493a00;
  --mat-ref-secondary-secondary15: #2f2500;
  --mat-ref-secondary-secondary5: #171000;
  --mat-ref-tertiary-tertiary0: #000000;
  --mat-ref-tertiary-tertiary10: #002022;
  --mat-ref-tertiary-tertiary20: #0d3639;
  --mat-ref-tertiary-tertiary30: #274c4f;
  --mat-ref-tertiary-tertiary40: #3f6467;
  --mat-ref-tertiary-tertiary50: #587d80;
  --mat-ref-tertiary-tertiary60: #72979a;
  --mat-ref-tertiary-tertiary70: #8cb2b5;
  --mat-ref-tertiary-tertiary80: #a7ced1;
  --mat-ref-tertiary-tertiary90: #c2eaed;
  --mat-ref-tertiary-tertiary95: #d0f8fb;
  --mat-ref-tertiary-tertiary99: #f3feff;
  --mat-ref-tertiary-tertiary100: #ffffff;
  --mat-ref-tertiary-tertiary98: #e8fdff;
  --mat-ref-tertiary-tertiary35: #33585b;
  --mat-ref-tertiary-tertiary25: #1b4144;
  --mat-ref-tertiary-tertiary15: #002b2e;
  --mat-ref-tertiary-tertiary5: #001416;
  --mat-ref-error-error0: #000000;
  --mat-ref-error-error10: #400009;
  --mat-ref-error-error20: #680014;
  --mat-ref-error-error30: #920021;
  --mat-ref-error-error40: #b81d33;
  --mat-ref-error-error50: #db3949;
  --mat-ref-error-error60: #fe5360;
  --mat-ref-error-error70: #ff888b;
  --mat-ref-error-error80: #ffb3b3;
  --mat-ref-error-error90: #ffdad9;
  --mat-ref-error-error95: #ffedec;
  --mat-ref-error-error99: #fffbff;
  --mat-ref-error-error100: #ffffff;
  --mat-ref-error-error98: #fff8f7;
  --mat-ref-error-error35: #a60a29;
  --mat-ref-error-error25: #7d001a;
  --mat-ref-error-error15: #54000e;
  --mat-ref-error-error5: #2c0004;
  --mat-ref-neutral-neutral0: #000000;
  --mat-ref-neutral-neutral4: #0f0d13;
  --mat-ref-neutral-neutral6: #141218;
  --mat-ref-neutral-neutral10: #1c1b1b;
  --mat-ref-neutral-neutral12: #211f26;
  --mat-ref-neutral-neutral17: #2b2930;
  --mat-ref-neutral-neutral20: #313030;
  --mat-ref-neutral-neutral22: #36343b;
  --mat-ref-neutral-neutral24: #3b383e;
  --mat-ref-neutral-neutral30: #484646;
  --mat-ref-neutral-neutral40: #5f5e5e;
  --mat-ref-neutral-neutral50: #787776;
  --mat-ref-neutral-neutral60: #929090;
  --mat-ref-neutral-neutral70: #adaaaa;
  --mat-ref-neutral-neutral80: #c9c6c5;
  --mat-ref-neutral-neutral87: #ded8e1;
  --mat-ref-neutral-neutral90: #e5e2e1;
  --mat-ref-neutral-neutral92: #ece6f0;
  --mat-ref-neutral-neutral94: #f3edf7;
  --mat-ref-neutral-neutral95: #f4f0ef;
  --mat-ref-neutral-neutral96: #f7f2fa;
  --mat-ref-neutral-neutral99: #f6feff;
  --mat-ref-neutral-neutral100: #ffffff;
  --mat-ref-neutral-neutral98: #fcf8f8;
  --mat-ref-neutral-neutral35: #535252;
  --mat-ref-neutral-neutral25: #3c3b3b;
  --mat-ref-neutral-neutral15: #262625;
  --mat-ref-neutral-neutral5: #111111;
  --mat-ref-neutral-variant-neutral-variant0: #000000;
  --mat-ref-neutral-variant-neutral-variant10: #1c1b1b;
  --mat-ref-neutral-variant-neutral-variant20: #313030;
  --mat-ref-neutral-variant-neutral-variant30: #474646;
  --mat-ref-neutral-variant-neutral-variant40: #5f5e5e;
  --mat-ref-neutral-variant-neutral-variant50: #787776;
  --mat-ref-neutral-variant-neutral-variant60: #929090;
  --mat-ref-neutral-variant-neutral-variant70: #adabaa;
  --mat-ref-neutral-variant-neutral-variant80: #c9c6c5;
  --mat-ref-neutral-variant-neutral-variant90: #e5e2e1;
  --mat-ref-neutral-variant-neutral-variant95: #f3f0ef;
  --mat-ref-neutral-variant-neutral-variant99: #f6feff;
  --mat-ref-neutral-variant-neutral-variant100: #ffffff;
  --mat-ref-neutral-variant-neutral-variant98: #fcf8f8;
  --mat-ref-neutral-variant-neutral-variant35: #535252;
  --mat-ref-neutral-variant-neutral-variant25: #3c3b3b;
  --mat-ref-neutral-variant-neutral-variant15: #262625;
  --mat-ref-neutral-variant-neutral-variant5: #111111;
  --mat-key-colors-primary: #284b63;
  --mat-key-colors-secondary: #f9d86f;
  --mat-key-colors-tertiary: #486d70;
  --mat-key-colors-error: #ce2f41;
  --mat-key-colors-neutral: #f6f6f6;
  --mat-key-colors-neutral-variant: #d9d9d9;
  --mat-source-seed: #284b63;
  --mat-state-layers-light-primary-opacity-0-12: #2664891f;
  --mat-state-layers-light-primary-opacity-0-16: #26648929;
  --mat-state-layers-light-primary-opacity-0-08: #26648914;
  --mat-state-layers-light-on-primary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-primary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-primary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-primary-container-opacity-0-12: #eaddff1f;
  --mat-state-layers-light-primary-container-opacity-0-16: #eaddff29;
  --mat-state-layers-light-primary-container-opacity-0-08: #eaddff14;
  --mat-state-layers-light-on-primary-container-opacity-0-12: #21005d1f;
  --mat-state-layers-light-on-primary-container-opacity-0-16: #21005d29;
  --mat-state-layers-light-on-primary-container-opacity-0-08: #21005d14;
  --mat-state-layers-light-primary-fixed-opacity-0-12: #eaddff1f;
  --mat-state-layers-light-primary-fixed-opacity-0-16: #eaddff29;
  --mat-state-layers-light-primary-fixed-opacity-0-08: #eaddff14;
  --mat-state-layers-light-on-primary-fixed-opacity-0-12: #21005d1f;
  --mat-state-layers-light-on-primary-fixed-opacity-0-16: #21005d29;
  --mat-state-layers-light-on-primary-fixed-opacity-0-08: #21005d14;
  --mat-state-layers-light-primary-fixed-dim-opacity-0-12: #d0bcff1f;
  --mat-state-layers-light-primary-fixed-dim-opacity-0-16: #d0bcff29;
  --mat-state-layers-light-primary-fixed-dim-opacity-0-08: #d0bcff14;
  --mat-state-layers-light-on-primary-fixed-variant-opacity-0-12: #4f378b1f;
  --mat-state-layers-light-on-primary-fixed-variant-opacity-0-16: #4f378b29;
  --mat-state-layers-light-on-primary-fixed-variant-opacity-0-08: #4f378b14;
  --mat-state-layers-light-secondary-opacity-0-12: #715c0c1f;
  --mat-state-layers-light-secondary-opacity-0-16: #715c0c29;
  --mat-state-layers-light-secondary-opacity-0-08: #715c0c14;
  --mat-state-layers-light-on-secondary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-secondary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-secondary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-secondary-container-opacity-0-12: #e8def81f;
  --mat-state-layers-light-secondary-container-opacity-0-16: #e8def829;
  --mat-state-layers-light-secondary-container-opacity-0-08: #e8def814;
  --mat-state-layers-light-on-secondary-container-opacity-0-12: #1d192b1f;
  --mat-state-layers-light-on-secondary-container-opacity-0-16: #1d192b29;
  --mat-state-layers-light-on-secondary-container-opacity-0-08: #1d192b14;
  --mat-state-layers-light-secondary-fixed-opacity-0-12: #e8def81f;
  --mat-state-layers-light-secondary-fixed-opacity-0-16: #e8def829;
  --mat-state-layers-light-secondary-fixed-opacity-0-08: #e8def814;
  --mat-state-layers-light-on-secondary-fixed-opacity-0-12: #1d192b1f;
  --mat-state-layers-light-on-secondary-fixed-opacity-0-16: #1d192b29;
  --mat-state-layers-light-on-secondary-fixed-opacity-0-08: #1d192b14;
  --mat-state-layers-light-secondary-fixed-dim-opacity-0-12: #ccc2dc1f;
  --mat-state-layers-light-secondary-fixed-dim-opacity-0-16: #ccc2dc29;
  --mat-state-layers-light-secondary-fixed-dim-opacity-0-08: #ccc2dc14;
  --mat-state-layers-light-on-secondary-fixed-variant-opacity-0-12: #4a44581f;
  --mat-state-layers-light-on-secondary-fixed-variant-opacity-0-16: #4a445829;
  --mat-state-layers-light-on-secondary-fixed-variant-opacity-0-08: #4a445814;
  --mat-state-layers-light-tertiary-opacity-0-12: #00696f1f;
  --mat-state-layers-light-tertiary-opacity-0-16: #00696f29;
  --mat-state-layers-light-tertiary-opacity-0-08: #00696f14;
  --mat-state-layers-light-on-tertiary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-tertiary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-tertiary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-tertiary-container-opacity-0-12: #ffd8e41f;
  --mat-state-layers-light-tertiary-container-opacity-0-16: #ffd8e429;
  --mat-state-layers-light-tertiary-container-opacity-0-08: #ffd8e414;
  --mat-state-layers-light-on-tertiary-container-opacity-0-12: #31111d1f;
  --mat-state-layers-light-on-tertiary-container-opacity-0-16: #31111d29;
  --mat-state-layers-light-on-tertiary-container-opacity-0-08: #31111d14;
  --mat-state-layers-light-tertiary-fixed-opacity-0-12: #ffd8e41f;
  --mat-state-layers-light-tertiary-fixed-opacity-0-16: #ffd8e429;
  --mat-state-layers-light-tertiary-fixed-opacity-0-08: #ffd8e414;
  --mat-state-layers-light-on-tertiary-fixed-opacity-0-12: #31111d1f;
  --mat-state-layers-light-on-tertiary-fixed-opacity-0-16: #31111d29;
  --mat-state-layers-light-on-tertiary-fixed-opacity-0-08: #31111d14;
  --mat-state-layers-light-tertiary-fixed-dim-opacity-0-12: #efb8c81f;
  --mat-state-layers-light-tertiary-fixed-dim-opacity-0-16: #efb8c829;
  --mat-state-layers-light-tertiary-fixed-dim-opacity-0-08: #efb8c814;
  --mat-state-layers-light-on-tertiary-fixed-variant-opacity-0-12: #633b481f;
  --mat-state-layers-light-on-tertiary-fixed-variant-opacity-0-16: #633b4829;
  --mat-state-layers-light-on-tertiary-fixed-variant-opacity-0-08: #633b4814;
  --mat-state-layers-light-error-opacity-0-12: #8f4a4b1f;
  --mat-state-layers-light-error-opacity-0-16: #8f4a4b29;
  --mat-state-layers-light-error-opacity-0-08: #8f4a4b14;
  --mat-state-layers-light-on-error-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-error-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-error-opacity-0-08: #ffffff14;
  --mat-state-layers-light-error-container-opacity-0-12: #f9dedc1f;
  --mat-state-layers-light-error-container-opacity-0-16: #f9dedc29;
  --mat-state-layers-light-error-container-opacity-0-08: #f9dedc14;
  --mat-state-layers-light-on-error-container-opacity-0-12: #410e0b1f;
  --mat-state-layers-light-on-error-container-opacity-0-16: #410e0b29;
  --mat-state-layers-light-on-error-container-opacity-0-08: #410e0b14;
  --mat-state-layers-light-outline-opacity-0-12: #72787e1f;
  --mat-state-layers-light-outline-opacity-0-16: #72787e29;
  --mat-state-layers-light-outline-opacity-0-08: #72787e14;
  --mat-state-layers-light-background-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-background-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-background-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-on-background-opacity-0-12: #1d1b201f;
  --mat-state-layers-light-on-background-opacity-0-16: #1d1b2029;
  --mat-state-layers-light-on-background-opacity-0-08: #1d1b2014;
  --mat-state-layers-light-surface-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-surface-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-surface-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-on-surface-opacity-0-12: #1d1b201f;
  --mat-state-layers-light-on-surface-opacity-0-16: #1d1b2029;
  --mat-state-layers-light-on-surface-opacity-0-08: #1d1b2014;
  --mat-state-layers-light-surface-variant-opacity-0-12: #e7e0ec1f;
  --mat-state-layers-light-surface-variant-opacity-0-16: #e7e0ec29;
  --mat-state-layers-light-surface-variant-opacity-0-08: #e7e0ec14;
  --mat-state-layers-light-on-surface-variant-opacity-0-12: #49454f1f;
  --mat-state-layers-light-on-surface-variant-opacity-0-16: #49454f29;
  --mat-state-layers-light-on-surface-variant-opacity-0-08: #49454f14;
  --mat-state-layers-light-inverse-surface-opacity-0-12: #322f351f;
  --mat-state-layers-light-inverse-surface-opacity-0-16: #322f3529;
  --mat-state-layers-light-inverse-surface-opacity-0-08: #322f3514;
  --mat-state-layers-light-inverse-on-surface-opacity-0-12: #f5eff71f;
  --mat-state-layers-light-inverse-on-surface-opacity-0-16: #f5eff729;
  --mat-state-layers-light-inverse-on-surface-opacity-0-08: #f5eff714;
  --mat-state-layers-light-inverse-primary-opacity-0-12: #d0bcff1f;
  --mat-state-layers-light-inverse-primary-opacity-0-16: #d0bcff29;
  --mat-state-layers-light-inverse-primary-opacity-0-08: #d0bcff14;
  --mat-state-layers-light-shadow-opacity-0-12: #0000001f;
  --mat-state-layers-light-shadow-opacity-0-16: #00000029;
  --mat-state-layers-light-shadow-opacity-0-08: #00000014;
  --mat-state-layers-light-surface-tint-opacity-0-12: #6750a41f;
  --mat-state-layers-light-surface-tint-opacity-0-16: #6750a429;
  --mat-state-layers-light-surface-tint-opacity-0-08: #6750a414;
  --mat-state-layers-light-outline-variant-opacity-0-12: #cac4d01f;
  --mat-state-layers-light-outline-variant-opacity-0-16: #cac4d029;
  --mat-state-layers-light-outline-variant-opacity-0-08: #cac4d014;
  --mat-state-layers-light-scrim-opacity-0-12: #0000001f;
  --mat-state-layers-light-scrim-opacity-0-16: #00000029;
  --mat-state-layers-light-scrim-opacity-0-08: #00000014;
  --mat-state-layers-light-surface-container-highest-opacity-0-12: #e6e0e91f;
  --mat-state-layers-light-surface-container-highest-opacity-0-16: #e6e0e929;
  --mat-state-layers-light-surface-container-highest-opacity-0-08: #e6e0e914;
  --mat-state-layers-light-surface-container-high-opacity-0-12: #ece6f01f;
  --mat-state-layers-light-surface-container-high-opacity-0-16: #ece6f029;
  --mat-state-layers-light-surface-container-high-opacity-0-08: #ece6f014;
  --mat-state-layers-light-surface-container-opacity-0-12: #f3edf71f;
  --mat-state-layers-light-surface-container-opacity-0-16: #f3edf729;
  --mat-state-layers-light-surface-container-opacity-0-08: #f3edf714;
  --mat-state-layers-light-surface-container-low-opacity-0-12: #f7f2fa1f;
  --mat-state-layers-light-surface-container-low-opacity-0-16: #f7f2fa29;
  --mat-state-layers-light-surface-container-low-opacity-0-08: #f7f2fa14;
  --mat-state-layers-light-surface-container-lowest-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-surface-container-lowest-opacity-0-16: #ffffff29;
  --mat-state-layers-light-surface-container-lowest-opacity-0-08: #ffffff14;
  --mat-state-layers-light-surface-bright-opacity-0-12: #fef7ff1f;
  --mat-state-layers-light-surface-bright-opacity-0-16: #fef7ff29;
  --mat-state-layers-light-surface-bright-opacity-0-08: #fef7ff14;
  --mat-state-layers-light-surface-dim-opacity-0-12: #ded8e11f;
  --mat-state-layers-light-surface-dim-opacity-0-16: #ded8e129;
  --mat-state-layers-light-surface-dim-opacity-0-08: #ded8e114;
  --mat-state-layers-light-surface-tint-opacity-0-12: #2664891f;
  --mat-state-layers-light-surface-tint-opacity-0-16: #26648929;
  --mat-state-layers-light-surface-tint-opacity-0-08: #26648914;
  --mat-state-layers-light-on-primary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-primary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-primary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-primary-container-opacity-0-12: #c9e6ff1f;
  --mat-state-layers-light-primary-container-opacity-0-16: #c9e6ff29;
  --mat-state-layers-light-primary-container-opacity-0-08: #c9e6ff14;
  --mat-state-layers-light-on-primary-container-opacity-0-12: #001e2f1f;
  --mat-state-layers-light-on-primary-container-opacity-0-16: #001e2f29;
  --mat-state-layers-light-on-primary-container-opacity-0-08: #001e2f14;
  --mat-state-layers-light-on-secondary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-secondary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-secondary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-secondary-container-opacity-0-12: #fee0861f;
  --mat-state-layers-light-secondary-container-opacity-0-16: #fee08629;
  --mat-state-layers-light-secondary-container-opacity-0-08: #fee08614;
  --mat-state-layers-light-on-secondary-container-opacity-0-12: #231b001f;
  --mat-state-layers-light-on-secondary-container-opacity-0-16: #231b0029;
  --mat-state-layers-light-on-secondary-container-opacity-0-08: #231b0014;
  --mat-state-layers-light-on-tertiary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-tertiary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-tertiary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-tertiary-container-opacity-0-12: #9cf0f71f;
  --mat-state-layers-light-tertiary-container-opacity-0-16: #9cf0f729;
  --mat-state-layers-light-tertiary-container-opacity-0-08: #9cf0f714;
  --mat-state-layers-light-on-tertiary-container-opacity-0-12: #0020221f;
  --mat-state-layers-light-on-tertiary-container-opacity-0-16: #00202229;
  --mat-state-layers-light-on-tertiary-container-opacity-0-08: #00202214;
  --mat-state-layers-light-on-error-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-on-error-opacity-0-16: #ffffff29;
  --mat-state-layers-light-on-error-opacity-0-08: #ffffff14;
  --mat-state-layers-light-error-container-opacity-0-12: #ffdad91f;
  --mat-state-layers-light-error-container-opacity-0-16: #ffdad929;
  --mat-state-layers-light-error-container-opacity-0-08: #ffdad914;
  --mat-state-layers-light-on-error-container-opacity-0-12: #3b080d1f;
  --mat-state-layers-light-on-error-container-opacity-0-16: #3b080d29;
  --mat-state-layers-light-on-error-container-opacity-0-08: #3b080d14;
  --mat-state-layers-light-on-background-opacity-0-12: #181c201f;
  --mat-state-layers-light-on-background-opacity-0-16: #181c2029;
  --mat-state-layers-light-on-background-opacity-0-08: #181c2014;
  --mat-state-layers-light-on-surface-opacity-0-12: #181c201f;
  --mat-state-layers-light-on-surface-opacity-0-16: #181c2029;
  --mat-state-layers-light-on-surface-opacity-0-08: #181c2014;
  --mat-state-layers-light-surface-variant-opacity-0-12: #dde3ea1f;
  --mat-state-layers-light-surface-variant-opacity-0-16: #dde3ea29;
  --mat-state-layers-light-surface-variant-opacity-0-08: #dde3ea14;
  --mat-state-layers-light-on-surface-variant-opacity-0-12: #41474d1f;
  --mat-state-layers-light-on-surface-variant-opacity-0-16: #41474d29;
  --mat-state-layers-light-on-surface-variant-opacity-0-08: #41474d14;
  --mat-state-layers-light-outline-variant-opacity-0-12: #c1c7ce1f;
  --mat-state-layers-light-outline-variant-opacity-0-16: #c1c7ce29;
  --mat-state-layers-light-outline-variant-opacity-0-08: #c1c7ce14;
  --mat-state-layers-light-inverse-surface-opacity-0-12: #2d31351f;
  --mat-state-layers-light-inverse-surface-opacity-0-16: #2d313529;
  --mat-state-layers-light-inverse-surface-opacity-0-08: #2d313514;
  --mat-state-layers-light-inverse-on-surface-opacity-0-12: #eef1f61f;
  --mat-state-layers-light-inverse-on-surface-opacity-0-16: #eef1f629;
  --mat-state-layers-light-inverse-on-surface-opacity-0-08: #eef1f614;
  --mat-state-layers-light-inverse-primary-opacity-0-12: #95cdf71f;
  --mat-state-layers-light-inverse-primary-opacity-0-16: #95cdf729;
  --mat-state-layers-light-inverse-primary-opacity-0-08: #95cdf714;
  --mat-state-layers-light-primary-fixed-opacity-0-12: #c9e6ff1f;
  --mat-state-layers-light-primary-fixed-opacity-0-16: #c9e6ff29;
  --mat-state-layers-light-primary-fixed-opacity-0-08: #c9e6ff14;
  --mat-state-layers-light-on-primary-fixed-opacity-0-12: #001e2f1f;
  --mat-state-layers-light-on-primary-fixed-opacity-0-16: #001e2f29;
  --mat-state-layers-light-on-primary-fixed-opacity-0-08: #001e2f14;
  --mat-state-layers-light-primary-fixed-dim-opacity-0-12: #95cdf71f;
  --mat-state-layers-light-primary-fixed-dim-opacity-0-16: #95cdf729;
  --mat-state-layers-light-primary-fixed-dim-opacity-0-08: #95cdf714;
  --mat-state-layers-light-on-primary-fixed-variant-opacity-0-12: #004b6f1f;
  --mat-state-layers-light-on-primary-fixed-variant-opacity-0-16: #004b6f29;
  --mat-state-layers-light-on-primary-fixed-variant-opacity-0-08: #004b6f14;
  --mat-state-layers-light-secondary-fixed-opacity-0-12: #fee0861f;
  --mat-state-layers-light-secondary-fixed-opacity-0-16: #fee08629;
  --mat-state-layers-light-secondary-fixed-opacity-0-08: #fee08614;
  --mat-state-layers-light-on-secondary-fixed-opacity-0-12: #231b001f;
  --mat-state-layers-light-on-secondary-fixed-opacity-0-16: #231b0029;
  --mat-state-layers-light-on-secondary-fixed-opacity-0-08: #231b0014;
  --mat-state-layers-light-secondary-fixed-dim-opacity-0-12: #e0c46d1f;
  --mat-state-layers-light-secondary-fixed-dim-opacity-0-16: #e0c46d29;
  --mat-state-layers-light-secondary-fixed-dim-opacity-0-08: #e0c46d14;
  --mat-state-layers-light-on-secondary-fixed-variant-opacity-0-12: #5645001f;
  --mat-state-layers-light-on-secondary-fixed-variant-opacity-0-16: #56450029;
  --mat-state-layers-light-on-secondary-fixed-variant-opacity-0-08: #56450014;
  --mat-state-layers-light-tertiary-fixed-opacity-0-12: #9cf0f71f;
  --mat-state-layers-light-tertiary-fixed-opacity-0-16: #9cf0f729;
  --mat-state-layers-light-tertiary-fixed-opacity-0-08: #9cf0f714;
  --mat-state-layers-light-on-tertiary-fixed-opacity-0-12: #0020221f;
  --mat-state-layers-light-on-tertiary-fixed-opacity-0-16: #00202229;
  --mat-state-layers-light-on-tertiary-fixed-opacity-0-08: #00202214;
  --mat-state-layers-light-tertiary-fixed-dim-opacity-0-12: #80d4da1f;
  --mat-state-layers-light-tertiary-fixed-dim-opacity-0-16: #80d4da29;
  --mat-state-layers-light-tertiary-fixed-dim-opacity-0-08: #80d4da14;
  --mat-state-layers-light-on-tertiary-fixed-variant-opacity-0-12: #004f541f;
  --mat-state-layers-light-on-tertiary-fixed-variant-opacity-0-16: #004f5429;
  --mat-state-layers-light-on-tertiary-fixed-variant-opacity-0-08: #004f5414;
  --mat-state-layers-light-surface-dim-opacity-0-12: #d7dadf1f;
  --mat-state-layers-light-surface-dim-opacity-0-16: #d7dadf29;
  --mat-state-layers-light-surface-dim-opacity-0-08: #d7dadf14;
  --mat-state-layers-light-surface-bright-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-surface-bright-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-surface-bright-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-surface-container-lowest-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-surface-container-lowest-opacity-0-16: #ffffff29;
  --mat-state-layers-light-surface-container-lowest-opacity-0-08: #ffffff14;
  --mat-state-layers-light-surface-container-low-opacity-0-12: #f1f4f91f;
  --mat-state-layers-light-surface-container-low-opacity-0-16: #f1f4f929;
  --mat-state-layers-light-surface-container-low-opacity-0-08: #f1f4f914;
  --mat-state-layers-light-surface-container-opacity-0-12: #ebeef31f;
  --mat-state-layers-light-surface-container-opacity-0-16: #ebeef329;
  --mat-state-layers-light-surface-container-opacity-0-08: #ebeef314;
  --mat-state-layers-light-surface-container-high-opacity-0-12: #e5e8ed1f;
  --mat-state-layers-light-surface-container-high-opacity-0-16: #e5e8ed29;
  --mat-state-layers-light-surface-container-high-opacity-0-08: #e5e8ed14;
  --mat-state-layers-light-surface-container-highest-opacity-0-12: #e0e3e81f;
  --mat-state-layers-light-surface-container-highest-opacity-0-16: #e0e3e829;
  --mat-state-layers-light-surface-container-highest-opacity-0-08: #e0e3e814;
  --mat-state-layers-light-high-contrast-primary-opacity-0-12: #0025391f;
  --mat-state-layers-light-high-contrast-primary-opacity-0-16: #00253929;
  --mat-state-layers-light-high-contrast-primary-opacity-0-08: #00253914;
  --mat-state-layers-light-high-contrast-surface-tint-opacity-0-12: #2664891f;
  --mat-state-layers-light-high-contrast-surface-tint-opacity-0-16: #26648929;
  --mat-state-layers-light-high-contrast-surface-tint-opacity-0-08: #26648914;
  --mat-state-layers-light-high-contrast-on-primary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-primary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-primary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-primary-container-opacity-0-12: #0047691f;
  --mat-state-layers-light-high-contrast-primary-container-opacity-0-16: #00476929;
  --mat-state-layers-light-high-contrast-primary-container-opacity-0-08: #00476914;
  --mat-state-layers-light-high-contrast-on-primary-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-primary-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-primary-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-secondary-opacity-0-12: #2b21001f;
  --mat-state-layers-light-high-contrast-secondary-opacity-0-16: #2b210029;
  --mat-state-layers-light-high-contrast-secondary-opacity-0-08: #2b210014;
  --mat-state-layers-light-high-contrast-on-secondary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-secondary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-secondary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-secondary-container-opacity-0-12: #5241001f;
  --mat-state-layers-light-high-contrast-secondary-container-opacity-0-16: #52410029;
  --mat-state-layers-light-high-contrast-secondary-container-opacity-0-08: #52410014;
  --mat-state-layers-light-high-contrast-on-secondary-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-secondary-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-secondary-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-tertiary-opacity-0-12: #00272a1f;
  --mat-state-layers-light-high-contrast-tertiary-opacity-0-16: #00272a29;
  --mat-state-layers-light-high-contrast-tertiary-opacity-0-08: #00272a14;
  --mat-state-layers-light-high-contrast-on-tertiary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-tertiary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-tertiary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-tertiary-container-opacity-0-12: #004b4f1f;
  --mat-state-layers-light-high-contrast-tertiary-container-opacity-0-16: #004b4f29;
  --mat-state-layers-light-high-contrast-tertiary-container-opacity-0-08: #004b4f14;
  --mat-state-layers-light-high-contrast-on-tertiary-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-tertiary-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-tertiary-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-error-opacity-0-12: #440f131f;
  --mat-state-layers-light-high-contrast-error-opacity-0-16: #440f1329;
  --mat-state-layers-light-high-contrast-error-opacity-0-08: #440f1314;
  --mat-state-layers-light-high-contrast-on-error-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-error-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-error-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-error-container-opacity-0-12: #6e2f311f;
  --mat-state-layers-light-high-contrast-error-container-opacity-0-16: #6e2f3129;
  --mat-state-layers-light-high-contrast-error-container-opacity-0-08: #6e2f3114;
  --mat-state-layers-light-high-contrast-on-error-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-error-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-error-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-background-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-high-contrast-background-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-high-contrast-background-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-high-contrast-on-background-opacity-0-12: #181c201f;
  --mat-state-layers-light-high-contrast-on-background-opacity-0-16: #181c2029;
  --mat-state-layers-light-high-contrast-on-background-opacity-0-08: #181c2014;
  --mat-state-layers-light-high-contrast-surface-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-high-contrast-surface-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-high-contrast-surface-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-high-contrast-on-surface-opacity-0-12: #0000001f;
  --mat-state-layers-light-high-contrast-on-surface-opacity-0-16: #00000029;
  --mat-state-layers-light-high-contrast-on-surface-opacity-0-08: #00000014;
  --mat-state-layers-light-high-contrast-surface-variant-opacity-0-12: #dde3ea1f;
  --mat-state-layers-light-high-contrast-surface-variant-opacity-0-16: #dde3ea29;
  --mat-state-layers-light-high-contrast-surface-variant-opacity-0-08: #dde3ea14;
  --mat-state-layers-light-high-contrast-on-surface-variant-opacity-0-12: #1e252a1f;
  --mat-state-layers-light-high-contrast-on-surface-variant-opacity-0-16: #1e252a29;
  --mat-state-layers-light-high-contrast-on-surface-variant-opacity-0-08: #1e252a14;
  --mat-state-layers-light-high-contrast-outline-opacity-0-12: #3d44491f;
  --mat-state-layers-light-high-contrast-outline-opacity-0-16: #3d444929;
  --mat-state-layers-light-high-contrast-outline-opacity-0-08: #3d444914;
  --mat-state-layers-light-high-contrast-outline-variant-opacity-0-12: #3d44491f;
  --mat-state-layers-light-high-contrast-outline-variant-opacity-0-16: #3d444929;
  --mat-state-layers-light-high-contrast-outline-variant-opacity-0-08: #3d444914;
  --mat-state-layers-light-high-contrast-shadow-opacity-0-12: #0000001f;
  --mat-state-layers-light-high-contrast-shadow-opacity-0-16: #00000029;
  --mat-state-layers-light-high-contrast-shadow-opacity-0-08: #00000014;
  --mat-state-layers-light-high-contrast-scrim-opacity-0-12: #0000001f;
  --mat-state-layers-light-high-contrast-scrim-opacity-0-16: #00000029;
  --mat-state-layers-light-high-contrast-scrim-opacity-0-08: #00000014;
  --mat-state-layers-light-high-contrast-inverse-surface-opacity-0-12: #2d31351f;
  --mat-state-layers-light-high-contrast-inverse-surface-opacity-0-16: #2d313529;
  --mat-state-layers-light-high-contrast-inverse-surface-opacity-0-08: #2d313514;
  --mat-state-layers-light-high-contrast-inverse-on-surface-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-inverse-on-surface-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-inverse-on-surface-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-inverse-primary-opacity-0-12: #dceeff1f;
  --mat-state-layers-light-high-contrast-inverse-primary-opacity-0-16: #dceeff29;
  --mat-state-layers-light-high-contrast-inverse-primary-opacity-0-08: #dceeff14;
  --mat-state-layers-light-high-contrast-primary-fixed-opacity-0-12: #0047691f;
  --mat-state-layers-light-high-contrast-primary-fixed-opacity-0-16: #00476929;
  --mat-state-layers-light-high-contrast-primary-fixed-opacity-0-08: #00476914;
  --mat-state-layers-light-high-contrast-on-primary-fixed-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-primary-fixed-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-primary-fixed-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-primary-fixed-dim-opacity-0-12: #0030481f;
  --mat-state-layers-light-high-contrast-primary-fixed-dim-opacity-0-16: #00304829;
  --mat-state-layers-light-high-contrast-primary-fixed-dim-opacity-0-08: #00304814;
  --mat-state-layers-light-high-contrast-on-primary-fixed-variant-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-primary-fixed-variant-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-primary-fixed-variant-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-secondary-fixed-opacity-0-12: #5241001f;
  --mat-state-layers-light-high-contrast-secondary-fixed-opacity-0-16: #52410029;
  --mat-state-layers-light-high-contrast-secondary-fixed-opacity-0-08: #52410014;
  --mat-state-layers-light-high-contrast-on-secondary-fixed-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-secondary-fixed-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-secondary-fixed-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-secondary-fixed-dim-opacity-0-12: #372b001f;
  --mat-state-layers-light-high-contrast-secondary-fixed-dim-opacity-0-16: #372b0029;
  --mat-state-layers-light-high-contrast-secondary-fixed-dim-opacity-0-08: #372b0014;
  --mat-state-layers-light-high-contrast-on-secondary-fixed-variant-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-secondary-fixed-variant-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-secondary-fixed-variant-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-tertiary-fixed-opacity-0-12: #004b4f1f;
  --mat-state-layers-light-high-contrast-tertiary-fixed-opacity-0-16: #004b4f29;
  --mat-state-layers-light-high-contrast-tertiary-fixed-opacity-0-08: #004b4f14;
  --mat-state-layers-light-high-contrast-on-tertiary-fixed-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-tertiary-fixed-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-tertiary-fixed-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-tertiary-fixed-dim-opacity-0-12: #0032361f;
  --mat-state-layers-light-high-contrast-tertiary-fixed-dim-opacity-0-16: #00323629;
  --mat-state-layers-light-high-contrast-tertiary-fixed-dim-opacity-0-08: #00323614;
  --mat-state-layers-light-high-contrast-on-tertiary-fixed-variant-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-on-tertiary-fixed-variant-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-on-tertiary-fixed-variant-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-surface-dim-opacity-0-12: #d7dadf1f;
  --mat-state-layers-light-high-contrast-surface-dim-opacity-0-16: #d7dadf29;
  --mat-state-layers-light-high-contrast-surface-dim-opacity-0-08: #d7dadf14;
  --mat-state-layers-light-high-contrast-surface-bright-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-high-contrast-surface-bright-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-high-contrast-surface-bright-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-high-contrast-surface-container-lowest-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-high-contrast-surface-container-lowest-opacity-0-16: #ffffff29;
  --mat-state-layers-light-high-contrast-surface-container-lowest-opacity-0-08: #ffffff14;
  --mat-state-layers-light-high-contrast-surface-container-low-opacity-0-12: #f1f4f91f;
  --mat-state-layers-light-high-contrast-surface-container-low-opacity-0-16: #f1f4f929;
  --mat-state-layers-light-high-contrast-surface-container-low-opacity-0-08: #f1f4f914;
  --mat-state-layers-light-high-contrast-surface-container-opacity-0-12: #ebeef31f;
  --mat-state-layers-light-high-contrast-surface-container-opacity-0-16: #ebeef329;
  --mat-state-layers-light-high-contrast-surface-container-opacity-0-08: #ebeef314;
  --mat-state-layers-light-high-contrast-surface-container-high-opacity-0-12: #e5e8ed1f;
  --mat-state-layers-light-high-contrast-surface-container-high-opacity-0-16: #e5e8ed29;
  --mat-state-layers-light-high-contrast-surface-container-high-opacity-0-08: #e5e8ed14;
  --mat-state-layers-light-high-contrast-surface-container-highest-opacity-0-12: #e0e3e81f;
  --mat-state-layers-light-high-contrast-surface-container-highest-opacity-0-16: #e0e3e829;
  --mat-state-layers-light-high-contrast-surface-container-highest-opacity-0-08: #e0e3e814;
  --mat-state-layers-light-medium-contrast-primary-opacity-0-12: #0047691f;
  --mat-state-layers-light-medium-contrast-primary-opacity-0-16: #00476929;
  --mat-state-layers-light-medium-contrast-primary-opacity-0-08: #00476914;
  --mat-state-layers-light-medium-contrast-surface-tint-opacity-0-12: #2664891f;
  --mat-state-layers-light-medium-contrast-surface-tint-opacity-0-16: #26648929;
  --mat-state-layers-light-medium-contrast-surface-tint-opacity-0-08: #26648914;
  --mat-state-layers-light-medium-contrast-on-primary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-primary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-primary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-primary-container-opacity-0-12: #407aa11f;
  --mat-state-layers-light-medium-contrast-primary-container-opacity-0-16: #407aa129;
  --mat-state-layers-light-medium-contrast-primary-container-opacity-0-08: #407aa114;
  --mat-state-layers-light-medium-contrast-on-primary-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-primary-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-primary-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-secondary-opacity-0-12: #5241001f;
  --mat-state-layers-light-medium-contrast-secondary-opacity-0-16: #52410029;
  --mat-state-layers-light-medium-contrast-secondary-opacity-0-08: #52410014;
  --mat-state-layers-light-medium-contrast-on-secondary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-secondary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-secondary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-secondary-container-opacity-0-12: #8972241f;
  --mat-state-layers-light-medium-contrast-secondary-container-opacity-0-16: #89722429;
  --mat-state-layers-light-medium-contrast-secondary-container-opacity-0-08: #89722414;
  --mat-state-layers-light-medium-contrast-on-secondary-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-secondary-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-secondary-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-tertiary-opacity-0-12: #004b4f1f;
  --mat-state-layers-light-medium-contrast-tertiary-opacity-0-16: #004b4f29;
  --mat-state-layers-light-medium-contrast-tertiary-opacity-0-08: #004b4f14;
  --mat-state-layers-light-medium-contrast-on-tertiary-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-tertiary-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-tertiary-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-tertiary-container-opacity-0-12: #2380871f;
  --mat-state-layers-light-medium-contrast-tertiary-container-opacity-0-16: #23808729;
  --mat-state-layers-light-medium-contrast-tertiary-container-opacity-0-08: #23808714;
  --mat-state-layers-light-medium-contrast-on-tertiary-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-tertiary-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-tertiary-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-error-opacity-0-12: #6e2f311f;
  --mat-state-layers-light-medium-contrast-error-opacity-0-16: #6e2f3129;
  --mat-state-layers-light-medium-contrast-error-opacity-0-08: #6e2f3114;
  --mat-state-layers-light-medium-contrast-on-error-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-error-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-error-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-error-container-opacity-0-12: #aa5f601f;
  --mat-state-layers-light-medium-contrast-error-container-opacity-0-16: #aa5f6029;
  --mat-state-layers-light-medium-contrast-error-container-opacity-0-08: #aa5f6014;
  --mat-state-layers-light-medium-contrast-on-error-container-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-error-container-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-error-container-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-background-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-medium-contrast-background-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-medium-contrast-background-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-medium-contrast-on-background-opacity-0-12: #181c201f;
  --mat-state-layers-light-medium-contrast-on-background-opacity-0-16: #181c2029;
  --mat-state-layers-light-medium-contrast-on-background-opacity-0-08: #181c2014;
  --mat-state-layers-light-medium-contrast-surface-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-medium-contrast-surface-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-medium-contrast-surface-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-medium-contrast-on-surface-opacity-0-12: #181c201f;
  --mat-state-layers-light-medium-contrast-on-surface-opacity-0-16: #181c2029;
  --mat-state-layers-light-medium-contrast-on-surface-opacity-0-08: #181c2014;
  --mat-state-layers-light-medium-contrast-surface-variant-opacity-0-12: #dde3ea1f;
  --mat-state-layers-light-medium-contrast-surface-variant-opacity-0-16: #dde3ea29;
  --mat-state-layers-light-medium-contrast-surface-variant-opacity-0-08: #dde3ea14;
  --mat-state-layers-light-medium-contrast-on-surface-variant-opacity-0-12: #3d44491f;
  --mat-state-layers-light-medium-contrast-on-surface-variant-opacity-0-16: #3d444929;
  --mat-state-layers-light-medium-contrast-on-surface-variant-opacity-0-08: #3d444914;
  --mat-state-layers-light-medium-contrast-outline-opacity-0-12: #5a60661f;
  --mat-state-layers-light-medium-contrast-outline-opacity-0-16: #5a606629;
  --mat-state-layers-light-medium-contrast-outline-opacity-0-08: #5a606614;
  --mat-state-layers-light-medium-contrast-outline-variant-opacity-0-12: #757b821f;
  --mat-state-layers-light-medium-contrast-outline-variant-opacity-0-16: #757b8229;
  --mat-state-layers-light-medium-contrast-outline-variant-opacity-0-08: #757b8214;
  --mat-state-layers-light-medium-contrast-shadow-opacity-0-12: #0000001f;
  --mat-state-layers-light-medium-contrast-shadow-opacity-0-16: #00000029;
  --mat-state-layers-light-medium-contrast-shadow-opacity-0-08: #00000014;
  --mat-state-layers-light-medium-contrast-scrim-opacity-0-12: #0000001f;
  --mat-state-layers-light-medium-contrast-scrim-opacity-0-16: #00000029;
  --mat-state-layers-light-medium-contrast-scrim-opacity-0-08: #00000014;
  --mat-state-layers-light-medium-contrast-inverse-surface-opacity-0-12: #2d31351f;
  --mat-state-layers-light-medium-contrast-inverse-surface-opacity-0-16: #2d313529;
  --mat-state-layers-light-medium-contrast-inverse-surface-opacity-0-08: #2d313514;
  --mat-state-layers-light-medium-contrast-inverse-on-surface-opacity-0-12: #eef1f61f;
  --mat-state-layers-light-medium-contrast-inverse-on-surface-opacity-0-16: #eef1f629;
  --mat-state-layers-light-medium-contrast-inverse-on-surface-opacity-0-08: #eef1f614;
  --mat-state-layers-light-medium-contrast-inverse-primary-opacity-0-12: #95cdf71f;
  --mat-state-layers-light-medium-contrast-inverse-primary-opacity-0-16: #95cdf729;
  --mat-state-layers-light-medium-contrast-inverse-primary-opacity-0-08: #95cdf714;
  --mat-state-layers-light-medium-contrast-primary-fixed-opacity-0-12: #407aa11f;
  --mat-state-layers-light-medium-contrast-primary-fixed-opacity-0-16: #407aa129;
  --mat-state-layers-light-medium-contrast-primary-fixed-opacity-0-08: #407aa114;
  --mat-state-layers-light-medium-contrast-on-primary-fixed-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-primary-fixed-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-primary-fixed-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-primary-fixed-dim-opacity-0-12: #2361871f;
  --mat-state-layers-light-medium-contrast-primary-fixed-dim-opacity-0-16: #23618729;
  --mat-state-layers-light-medium-contrast-primary-fixed-dim-opacity-0-08: #23618714;
  --mat-state-layers-light-medium-contrast-on-primary-fixed-variant-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-primary-fixed-variant-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-primary-fixed-variant-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-secondary-fixed-opacity-0-12: #8972241f;
  --mat-state-layers-light-medium-contrast-secondary-fixed-opacity-0-16: #89722429;
  --mat-state-layers-light-medium-contrast-secondary-fixed-opacity-0-08: #89722414;
  --mat-state-layers-light-medium-contrast-on-secondary-fixed-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-secondary-fixed-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-secondary-fixed-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-secondary-fixed-dim-opacity-0-12: #6f5a091f;
  --mat-state-layers-light-medium-contrast-secondary-fixed-dim-opacity-0-16: #6f5a0929;
  --mat-state-layers-light-medium-contrast-secondary-fixed-dim-opacity-0-08: #6f5a0914;
  --mat-state-layers-light-medium-contrast-on-secondary-fixed-variant-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-secondary-fixed-variant-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-secondary-fixed-variant-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-tertiary-fixed-opacity-0-12: #2380871f;
  --mat-state-layers-light-medium-contrast-tertiary-fixed-opacity-0-16: #23808729;
  --mat-state-layers-light-medium-contrast-tertiary-fixed-opacity-0-08: #23808714;
  --mat-state-layers-light-medium-contrast-on-tertiary-fixed-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-tertiary-fixed-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-tertiary-fixed-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-tertiary-fixed-dim-opacity-0-12: #00666c1f;
  --mat-state-layers-light-medium-contrast-tertiary-fixed-dim-opacity-0-16: #00666c29;
  --mat-state-layers-light-medium-contrast-tertiary-fixed-dim-opacity-0-08: #00666c14;
  --mat-state-layers-light-medium-contrast-on-tertiary-fixed-variant-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-on-tertiary-fixed-variant-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-on-tertiary-fixed-variant-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-surface-dim-opacity-0-12: #d7dadf1f;
  --mat-state-layers-light-medium-contrast-surface-dim-opacity-0-16: #d7dadf29;
  --mat-state-layers-light-medium-contrast-surface-dim-opacity-0-08: #d7dadf14;
  --mat-state-layers-light-medium-contrast-surface-bright-opacity-0-12: #f7f9ff1f;
  --mat-state-layers-light-medium-contrast-surface-bright-opacity-0-16: #f7f9ff29;
  --mat-state-layers-light-medium-contrast-surface-bright-opacity-0-08: #f7f9ff14;
  --mat-state-layers-light-medium-contrast-surface-container-lowest-opacity-0-12: #ffffff1f;
  --mat-state-layers-light-medium-contrast-surface-container-lowest-opacity-0-16: #ffffff29;
  --mat-state-layers-light-medium-contrast-surface-container-lowest-opacity-0-08: #ffffff14;
  --mat-state-layers-light-medium-contrast-surface-container-low-opacity-0-12: #f1f4f91f;
  --mat-state-layers-light-medium-contrast-surface-container-low-opacity-0-16: #f1f4f929;
  --mat-state-layers-light-medium-contrast-surface-container-low-opacity-0-08: #f1f4f914;
  --mat-state-layers-light-medium-contrast-surface-container-opacity-0-12: #ebeef31f;
  --mat-state-layers-light-medium-contrast-surface-container-opacity-0-16: #ebeef329;
  --mat-state-layers-light-medium-contrast-surface-container-opacity-0-08: #ebeef314;
  --mat-state-layers-light-medium-contrast-surface-container-high-opacity-0-12: #e5e8ed1f;
  --mat-state-layers-light-medium-contrast-surface-container-high-opacity-0-16: #e5e8ed29;
  --mat-state-layers-light-medium-contrast-surface-container-high-opacity-0-08: #e5e8ed14;
  --mat-state-layers-light-medium-contrast-surface-container-highest-opacity-0-12: #e0e3e81f;
  --mat-state-layers-light-medium-contrast-surface-container-highest-opacity-0-16: #e0e3e829;
  --mat-state-layers-light-medium-contrast-surface-container-highest-opacity-0-08: #e0e3e814;
  --mat-extended-accent: [object Object];
  --mat-elevation-light-1: [object Object],[object Object];
  --mat-elevation-light-2: [object Object],[object Object];
  --mat-elevation-light-3: [object Object],[object Object];
  --mat-elevation-light-4: [object Object],[object Object];
  --mat-elevation-light-5: [object Object],[object Object];
  --mat-elevation-dark-1: [object Object],[object Object];
  --mat-elevation-dark-2: [object Object],[object Object];
  --mat-elevation-dark-3: [object Object],[object Object];
  --mat-elevation-dark-4: [object Object],[object Object];
  --mat-elevation-dark-5: [object Object],[object Object];
  --mat-display-large: [object Object];
  --mat-display-medium: [object Object];
  --mat-display-small: [object Object];
  --mat-headline-large: [object Object];
  --mat-headline-medium: [object Object];
  --mat-headline-small: [object Object];
  --mat-title-large: [object Object];
  --mat-title-medium: [object Object];
  --mat-title-small: [object Object];
  --mat-body-large: [object Object];
  --mat-body-medium: [object Object];
  --mat-body-small: [object Object];
  --mat-label-large-prominent: [object Object];
  --mat-label-large: [object Object];
  --mat-label-medium-prominent: [object Object];
  --mat-label-medium: [object Object];
  --mat-label-small: [object Object];
  --mat-decorative-decorative-large: [object Object];
  --mat-decorative-decorative-medium: [object Object];
  --mat-decorative-decorative-small: [object Object];
  --font-families-roboto: Roboto;
  --font-families-courgette: Courgette;
  --line-heights-0: 64;
  --line-heights-1: 52;
  --line-heights-2: 44;
  --line-heights-3: 40;
  --line-heights-4: 36;
  --line-heights-5: 32;
  --line-heights-6: 28;
  --line-heights-7: 24;
  --line-heights-8: 20;
  --line-heights-9: 16;
  --font-weights-roboto-0: Bold;
  --font-weights-roboto-1: Regular;
  --font-weights-roboto-2: Medium;
  --font-weights-courgette-3: Regular;
  --font-weights-roboto-3: SemiBold;
  --font-weights-courgette-4: Regular;
  --font-size-0: 11;
  --font-size-1: 12;
  --font-size-2: 14;
  --font-size-3: 16;
  --font-size-4: 20;
  --font-size-5: 22;
  --font-size-6: 24;
  --font-size-7: 28;
  --font-size-8: 32;
  --font-size-9: 36;
  --font-size-10: 45;
  --font-size-11: 57;
  --letter-spacing-0: -0.25;
  --letter-spacing-1: 0;
  --letter-spacing-2: 0.15;
  --letter-spacing-3: 0.1;
  --letter-spacing-4: 0.5;
  --letter-spacing-5: 0.25;
  --letter-spacing-6: 0.4;
  --letter-spacing-7: -0.5;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
}/*# sourceMappingURL=vars.css.map */