<div class="row">        
    <h2>Family Providers</h2>
    <div class="col-12 col-lg-6 col-xl-3">
        <mat-form-field>
            <mat-label>Experience Level</mat-label>
            <mat-select>
            @for (memberExperience of memberExperiences; track memberExperience) {
                <mat-option [value]="memberExperience">{{memberExperience}}</mat-option>
            }                    
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row gx-5">        
    <div class="col">
        <h3>Member 1</h3>
        <mat-form-field appearance="fill">
            <mat-label> First Name</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label> Last Name</mat-label>
            <input matInput required>
        </mat-form-field>
        <div class="row">
            <div class="col-12 col-lg-6">
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select required>
                    @for (memberGender of memberGenders; track memberGender) {
                        <mat-option [value]="memberGender">{{memberGender}}</mat-option>
                    }                    
                    </mat-select>
                </mat-form-field>
            </div>
        </div>     
    </div>
    <div class="col">
        <h3>Member 2</h3>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput>
        </mat-form-field>
        <div class="row">
            <div class="col-12 col-lg-6">
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select>
                    @for (memberGender of memberGenders; track memberGender) {
                        <mat-option [value]="memberGender">{{memberGender}}</mat-option>
                    }                    
                    </mat-select>
                </mat-form-field>
            </div>
        </div>     
    </div>
</div>
<div class="row gx-5">
    <h3>Family Contact Information</h3>
    <div class="col">        
        <mat-form-field appearance="fill">
            <mat-label> Address</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Address 2</mat-label>
            <input matInput>
        </mat-form-field>
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select required>
                        <mat-option>States go here</mat-option>                    
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>Zip</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col">        
        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" required>
        </mat-form-field>        
        <mat-form-field appearance="fill">
            <mat-label>Alt Phone</mat-label>
            <input matInput type="tel">
        </mat-form-field>        
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email">
        </mat-form-field>
    </div>
</div>