<h2>Milestones</h2>
<ul class="no-bullet mb-0">
    <li>
        <mat-icon 
            aria-hidden="false"
            class="check_circle_outlined"
            color="primary"
            >check_circle_outlined
        </mat-icon> Application Received
    </li>
    <li>
        <mat-icon 
            aria-hidden="false"
            class="check_circle_outlined"
            color="primary"
            >check_circle_outlined
        </mat-icon> Family Information Added
    </li>
    <li>
        <mat-icon 
            aria-hidden="false"
            class="radio_button_unchecked"
            color="secondary"
            >radio_button_unchecked
        </mat-icon> Required Documents Attached
    </li>
    <li>
        <mat-icon 
            aria-hidden="false"
            class="radio_button_unchecked"
            color="secondary"
            >radio_button_unchecked
        </mat-icon> Training Scheduled
    </li>
    <li>
        <mat-icon 
            aria-hidden="false"
            class="radio_button_unchecked"
            color="secondary"
            >radio_button_unchecked
        </mat-icon> Licensing Approved
    </li>
</ul>
