<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="content">
        <div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="OnSubmit()">
                <h1 class="bebas-neue-regular">TFI-ONE</h1>
                <em>Devoted to the strength of family</em>
                <h3>Forgot password?</h3>
                <p>Enter a valid email associated with your account and we will send you instructions to reset your password.</p>
                <tfi-textboxemail appearanceName="outline" [parentFormGroup]="forgotPasswordForm" />
                <button class="mt-2" mat-raised-button color="accent" type="submit"><mat-icon>email</mat-icon> Send Link</button>
                <p *ngIf="formSubmitted">An email will arrive shortly with instructions to reset your password.</p>
            </form>
        </div>
    </div>
    <div class="bg d-none d-sm-block"></div>
</div>